.banner{
    margin-left: 300px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autorun 20s linear infinite;
}

@keyframes autorun{
    from{transform: perspective(1000px)  rotateY(0deg);}
    to{transform: perspective(1000px)rotateY(360deg);}
}

.banner .slider .item-c{
    position: absolute;
    inset: 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
        translateZ(300px);
    backface-visibility:hidden ;
}

.banner .slider .item-c img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.banner .slider:hover {
    animation-play-state: paused;
}